:root {
  --spacing: 1em;
  --padding: 0.4em 0.5em;
  --padding-2x: 0.8em 1em;
  --radius: 0.25em;
}

h1 {
  margin: .75em 0;
  font-size: 1.4em;
}
h2 {
  margin: .5em 0;
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
a:is(:hover, :focus) {
  text-decoration: underline;
}

#layout {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#layout > header {
  padding: var(--spacing) 0;
  margin-bottom: var(--spacing);
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
#layout > main {
  padding: var(--spacing) 0;
}
#layout > footer {
  margin-top: var(--spacing);
  padding: var(--spacing) 0;
  border-top: 1px solid #ddd;
  color: #aaa;
  font-size: 0.8em;
}

.mb-1 {
  margin-bottom: 0.5em;
}
.pure-form input,
.pure-button:last-child {
  margin-left: 1em;
}

input[size] {
  text-align: center;
}

.error {
  background: #dd514c;
  color: #fff;
  padding: var(--padding);
  border-radius: var(--radius);
}

/* @link https://cssloaders.github.io/ */
.loading:before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 4px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  vertical-align: text-bottom;
  box-sizing: border-box;
  margin-right: 0.5em;
  animation: fullCircle 1s linear infinite;
  opacity: 0.5;
}
@keyframes fullCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#auth-provider {
  background: #fafafa;
  padding: var(--padding-2x);
  border: 1px dotted #ddd;
  border-radius: var(--radius);
}
#auth-provider > h1:first-child {
  margin-top: 0;
}
