:root {
  --spacing: 1em;
  --padding: 0.4em 0.5em;
}

h1 {
  margin: .75em 0;
  font-size: 1.4em;
}
h2 {
  margin: .5em 0;
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
a:is(:hover, :focus) {
  text-decoration: underline;
}

#layout {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#layout > header {
  padding: var(--spacing) 0;
  margin-bottom: var(--spacing);
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
#layout > main {
  padding: var(--spacing) 0;
}
#layout > footer {
  margin-top: var(--spacing);
  padding: var(--spacing) 0;
  border-top: 1px solid #ddd;
  color: #aaa;
  font-size: 0.8em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

input[size] {
  text-align: center;
}
